<?xml version='1.0' encoding='utf-8'?>
<widget id="josiahking.jobman" version="0.1.0">
  <name>Jobman</name>
  <description>
    Jobman app
  </description>
  <author email="josiahaccounts@gmail.com">
    Josiah King
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordova-plugin-network-information" spec="^2.*" />
  <plugin name="cordova-plugin-googleplus" spec="^5.*" >
    <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.447391654587-q42jr9vsi1po5cinfqp3182nmou91udu" />
  </plugin>
</widget>
