<?xml version='1.0' encoding='utf-8'?>
<widget id="josiahking.jobman" version="0.1.0">
  <name>Jobman</name>
  <description>
    Jobman app
  </description>
  <author email="josiahaccounts@gmail.com">
    Josiah King
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordova-plugin-network-information" spec="^2.*" />
  <plugin name="aerogear-cordova-oauth2" spec="^1.*" />
</widget>
